# Ignore virtual environment folder
venv/

# Ignore PyCharm files
.idea/
__pycache__/
*.iml
*.iws
*.ipr

# Ignore folder and files
dontDeleteMe/
text_and_audio/__pycache__/
skills/__pycache__/
push.py
